# =====================
# Keil 编译生成文件
# =====================
# 输出目录
Objects/
Output/
Listing/
# 日志、调试文件
*.axf
*.o
*.lst
*.map
*.dep
*.bak
*.tmp
*.log
# 其他临时文件
*.uvoptx
*.uvguix.*
.mxproject
# =====================
# VSCode 文件夹
# =====================
.vscode/